

.info-container {
  border: 2px solid #0044ff;
  padding: 20px;
}

h1 {
  margin:50px 0;
}

h2, h3, h4, h5, p, a, li, label, input {
  font-family: "Lucida Console", Monaco, monospace;
}

ul li {
  list-style-type: cjk-ideographic;
}

.padding-bottom {
  padding-bottom: 20px;
}
